@import "./normalize.css";

* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

.show {
    display: block;
}

body {
    font-family: "Roboto", arial, sans-serif;
    font-style: normal;
    color: #333333;
    font-size: 18px;
    line-height: 26px;
}

h1 {
    font-size: 32px;
    padding: 15px 0;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 40px;

}

.page {
    display: flex;
}

.main-container {
    flex: 1 1;

}

.container {
    max-width: 760px;
    margin: 0 auto;
    padding: 40px;
    height: 100vh;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    margin: 0;
}

.favorite-toggle {
    display: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    width: 170px;
}

ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

ul li label {
    display: block;
    position: relative;
    padding: 2.5px 2.5px 2.5px 35px;
    /* padding-left: 35px; */
    /* margin: 2.5px auto; */
    z-index: 9;
    cursor: pointer;
}

ul li .check {
    display: block;
    position: absolute;
    border: 2px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 5px;
    z-index: 5;
}

ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 3.2px;
    left: 3.21px;
    margin: auto;
}

input[type=radio]:checked~.check {
    border: 2px solid #333;
}

input[type=radio]:checked~.check::before {
    background: #333;
}

.radios-as-btn {
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.radios-as-btn input[type=radio] {
    display: none;
}

.radios-as-btn label {
    cursor: pointer;
    padding: 6px 15px 6px 15px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: #ABABAB;
    border: 2px solid #f8f8f8;
    border-radius: 6px;
}

.radios-as-btn input[type=radio]:checked+label {
    background: #f8f8f8;
    color: #333333;
}

.search {
    width: 100%;
    height: 42px;
    border: 2px solid #333333;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 15px;
    outline: none;
}

.btn-get {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 5px 10px;
    background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
    border-radius: 10px;
    width: 152px;
    height: 42px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    outline: none;
}

.joke {
    background: #F8F8F8;
    border-radius: 20px;
    position: relative;
    margin-bottom: 20px;
}

.heart {
    line-height: 0;
    height: 17px;
    width: 20px;
    margin-top: 40px;
    margin-right: 40px;
    float: right;
}

.sms-main {
    background-color: #ffffff;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: absolute;
    top: 67px;
    left: 40px;
}

.sms {
    margin-top: 11px;
    margin-left: 10px;
    line-height: 0;
    position: absolute;
    width: 20px;
}

.line1,
.line2,
.line3 {
    margin-left: -15px;
    position: absolute;
}

.line1 {
    margin-top: 4px;
}

.line2 {
    margin-top: 6px;
}

.line3 {
    margin-top: 9px;
}

.link-id {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #ABABAB;
    float: left;
    margin: 67px 0 5px 100px;
}

.img-id {
    padding: 0 0 0 5px;
}

.joke-text {
    float: left;
    margin: 0 40px 40px 100px;
}

.time {
    font-size: 10px;
    line-height: 14px;
    color: #ABABAB;
    clear: left;
    margin-left: 100px;
    padding-bottom: 40px;
}

/* #animal-joke {
    background-color: #fff;
} */

.category {
    float: right;
    margin: 0 40px 40px 0;
}

.aside {
    background: #F8F8F8;
    flex: 0 2 400px;
    padding: 40px;
    /* height: 100vh; */
}

.favorite-h {
    color: #ABABAB;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 20px;
}

.favorite-joke {
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 0 20px;
    position: relative;
}

.background-color {
    background-color: #F8F8F8;
    top: 47px;
    left: 20px;
}

.line4,
.line5,
.line6 {
    margin-left: -15px;
    position: absolute;
}

.line4 {
    margin-top: 4px;
}

.line5 {
    margin-top: 6px;
}

.line6 {
    margin-top: 9px;
}

#heart-favorite {
    margin: 20px 20px 0 0;
}

.favorite-id {
    margin: 47px 0 5px 80px;
}

.favorite-text {
    margin: 0 20px 20px 80px;
    font-size: 14px;
    line-height: 20px;
}

.favorite-time {
    margin-left: 80px;
    padding-bottom: 20px;
}

@media (max-width: 991px) {
    .img-favorit-toggle {
        display: block;
        width: 25px;
        height: 25px;
        float: left;
    }

    .favorite-toggle {
        color: #ABABAB;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        display: inline;
        background-color: transparent;
        border-width: 0;
    }

    .aside {
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {}